div.resultsWrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
}

div.results {
    top: 1em;
    left: 20%;
    right: 20%;
    bottom: 10%;
    overflow: auto;
    position: fixed;
}

div.prizeButton {
    width: 10em;
    height: 10em;
    line-height: 13em;
}

.jumbotron {
    background-color: transparent;
}

[v-cloak] {
    display: none;
}